@import "../../styles/utils/utils";
.Row {
  display: flex;
  flex-wrap: wrap;
  // margin-right: 5rem;
  // margin-left: 5rem;
  justify-content: center;
  width: 100%; /* Ensures full width from .kAbjJN */
}

.Column {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;

  @include mobile-view {
    width: 100%;
  }
}

.Link {
  text-decoration: none;
}

.anomalyIndicator {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}

.flickeringIcon {
  animation: flicker 1s infinite;
  font-size: 2rem;
  color: #ff9800;
}
